body {
    background: white;
    font-family: cursive;
}

h1 {
    color: navy;
    text-shadow: 2px 2px 5px skyblue;
    border-bottom: 3px solid deepskyblue;
    text-align: center;
}

h2 {
    color: white;
    background: linear-gradient(to right, navy, deepskyblue);
    margin: 10px;
    padding: 10px;
}

h3 {
    color: white;
    background: linear-gradient(to right, orange, gold);
    margin: 10px;
    padding: 10px;
}

p {
    color: black;
    background: wheat;
    border: 2px solid green;
    padding: 10px;
    margin: 5px;
    width: 650px;
}

img {
    border: 2px solid gray;
    margin: 10px;
}