h1 {
    color: blue;
    text-shadow: 1px 0px 10px green;
    border-bottom-style: dotted;

}

h2 {
    color: red;
    margin: 10px;
	font-family: cursive;
	color:green;
	background:linear-gradient(to right, white, green);
}

h3 {
    margin: 10px;
	font-family: cursive;
	color:red;
	background:linear-gradient(to right, white, orange);
}

p {
    color:black;
    border: 5px solid green;
    padding: 10px;
    margin: 1px;
    width: 650px;
    height: 25px;
    background: wheat;
}