h1 {
    color: white;
    background: linear-gradient(to right, navy, deepskyblue);
    text-shadow: 3px 3px 6px black;
    border-bottom: 4px solid skyblue;
}

h2 {
    margin: 5px;
    font-family: cursive;
    color: white;
    background: linear-gradient(to right, navy, deepskyblue);
}

a:link {
    color: blue;
}

a:visited {
    color: purple;
}

h3 {
    color: white;
    background: linear-gradient(to right, royalblue, deepskyblue);
}

p {
    color: navy;
    background: linear-gradient(to right, white, lightblue);
}